<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css.css">
    <title>My app</title>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a href="/dashboard" class="my-0 mr-md-auto font-weight-normal"><img src="Banner.png" style="width:21%; margin:2%"></a>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/shopping-cart">Cosul meu <span th:text="${shoppingCartSize}"></span> </a>
    </nav>
    <div class="dropdown" style="float:right;">
        <button class="dropbtn">Cont</button>
        <div class="dropdown-content">
            <a href="my-orders-history">Istoric comenzi</a>
            <a href="change">Contul meu</a>
            <a href="log-out">Iesi din cont</a>
        </div>
    </div>
</div>
<div>
    <div style="width:fit-content; float : left;">
        <h3 style="font-style:italic;">Contul meu</h3>
    </div>
</div>
<form action="/password" method="post" style="width: 400px;margin: auto; margin-left: 120px;float: left;">
    <div class="form-group">
        <label for="Password1">New password</label>
        <input name="Password" type="password" class="form-control" id="Password1">
    </div>

    <div class="form-group">
        <label for="Password2">Type password again</label>
        <input name="Password-again" type="password" class="form-control" id="Password2">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p th:text="${message}"></p>
</form>

<form action="/address" method="post" style="width: 400px;margin: auto;margin-left: 120px;float: left;" >
    <div class="form-group">
        <label for="newAddress">New address</label>
        <input name="newAddress" type="text" maxlength="90" class="form-control" id="newAddress">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>