<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/magic.min.css">
    <link rel="stylesheet" href="/css.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Title</title>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a href="/dashboard" class="my-0 mr-md-auto font-weight-normal"><img src="Banner.png" style="width:21%; margin:2%"></a>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/shopping-cart">Cosul meu <span th:text="${shoppingCartSize}"></span> </a>
    </nav>
    <div class="dropdown" style="float:right;">
        <button class="dropbtn">Cont</button>
        <div class="dropdown-content">
            <a href="my-orders-history">Istoric comenzi</a>
            <a href="change">Contul meu</a>
            <a href="log-out">Iesi din cont</a>
        </div>
    </div>
</div>

<div class="shop-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 720px;">
    <h1 class="display-4" style="font-size:mediu;">Cele mai bune produse!</h1>
    <p class="lead">Ai transport gratuit!</p>
</div>
<div>
    <div style="width:fit-content; float:left;">
        <h3 style="font-style:italic;width: 150%;text-align: center;">Categorie</h3>
        <div th:each="cat: ${categories}">
            <form action="/category" >
                <input hidden name="idC" th:value="${cat.id}">
                <button type="submit" style="width:150%" class="btn btn-outline-secondary" th:text="${cat.name}"></button>
            </form>
        </div>
    </div>
</div>

<div name="test" class="container" style="max-width-1060px; ">

    <div th:each="x:${products}" class="card"
         style="width: 20rem; float: left;margin:10px;max-height:610px; height:610px;">
        <a th:href="${x.url}"><img th:src="${x.photoFile}" class="card_img_top"
                                   style="width:100%;margin:auto;"></a>
        <div class="card-header" style="font-size:mediu">
            <h4 class="my-0 font-weight-normal" style="font-size:medium" th:text="${x.name}"></h4>

        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title" th:text="${x.price}"></h1>
            <p th:text="${x.shortDes}"></p>
            <p th:text="${x.comment}"></p>
            <a th:href="${x.url}">Cumpara</a>
        </div>

    </div>

</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top" style="float:left;width:100%">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">© 2019-2020</small>
        </div>
    </div>
</footer>
</div>

</body>
</html>