<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css.css">
    <title>My app</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a href="/dashboard" class="my-0 mr-md-auto font-weight-normal"><img src="Banner.png" style="width:21%; margin:2%"></a>
    <div class="dropdown" style="float:right;">
        <button class="dropbtn">Cont</button>
        <div class="dropdown-content">
            <a href="log-in">Intra in cont</a>
            <a href="register">Creeaza cont</a>
        </div>
    </div>
</div>

<form action="/register-form" style="width: 400px;margin: auto;">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword2">Type password again</label>
        <input name="password-again" type="password" class="form-control" id="exampleInputPassword2">
    </div>
    <div class="form-group">
        <label for="address">Address delivery</label>
        <input name="address" type="text" class="form-control" id="address">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p th:text="${message}"></p>
</form>

</body>
</html>